.change-list .list-cell .glyph-icon {
    -glyph-size: 24px;
}

.change-list .list-cell:filled:added .glyph-icon {
	-glyph-name:		"DIFF_ADDED";
	-fx-fill:			diff-added-highlight;
}

.change-list .list-cell:filled:modified .glyph-icon {
	-glyph-name:		"DIFF_MODIFIED";
	-fx-fill:			unstaged-changes-highlight;
}

.change-list .list-cell:filled:deleted .glyph-icon {
	-glyph-name:		"DIFF_REMOVED";
	-fx-fill:			diff-removed-highlight;
}

.change-list .list-cell:filled:renamed .glyph-icon {
	-glyph-name:		"DIFF_RENAMED";
	-fx-fill:			diff-moved-highlight;
}

.change-list .list-cell:filled:copied .glyph-icon {
	-glyph-name:		"DIFF_ADDED";
	-fx-fill:			diff-added-highlight;
}