.root {

	diff-header-foreground:			-fx-text-base-color;
	diff-header-background:			transparent;
	
	diff-body-foreground:			-fx-text-base-color;
	diff-body-background:			#00000008;
    
	diff-added-foreground:			-fx-text-base-color;
	diff-added-background:			#8fa8;
	diff-added-highlight:			#0c8;
    
	diff-removed-foreground:		-fx-text-base-color;
	diff-removed-background:		#f886;
	diff-removed-highlight:			#f44;
    
	diff-moved-foreground:			-fx-text-base-color;
	diff-moved-background:			#88f8;
	diff-moved-highlight:			#8af;
    
    unstaged-changes-foreground:	-fx-text-background-color;
    unstaged-changes-background:	#fd98;
    unstaged-changes-highlight:		#fa0;
    
    staged-changes-foreground:		-fx-text-background-color;
    staged-changes-background:		#ff9a;
    staged-changes-highlight:		#f80;
}