.root {

	diff-header-foreground:			-fx-text-base-color;
	diff-header-background:			transparent;
	
	diff-body-foreground:			-fx-text-base-color;
	diff-body-background:			#00000008;
    
	diff-added-foreground:			-fx-text-base-color;
	diff-added-background:			#8faa;
    
	diff-removed-foreground:		-fx-text-base-color;
	diff-removed-background:		#f888;
    
    unstaged-changes-foreground:	-fx-text-background-color;
    unstaged-changes-background:	#fd98;
    unstaged-changes-highlight:		#f808;
    
    staged-changes-foreground:		-fx-text-background-color;
    staged-changes-background:		#ff9a;
    staged-changes-highlight:		#f80a;
}