.header-label {
	-fx-font-weight:		bold;
}

.repo-action-button {
	-fx-background-color:	transparent;
	-fx-pref-width:			4em;
	-fx-pref-height:		4em;
}

.repo-action-button:hover {
	-fx-background-color:	-fx-base;
}

.repo-action-button:armed {
	-fx-background-color:	derive(-fx-base, -10%);
}

#commitMessageTextField {
	-fx-padding:			1em 0.583em 1em 0.583em;
}