#repositoryTree .tree-cell:staged-changes {
	-fx-background:		staged-changes-background;
	-fx-accent:			staged-changes-highlight;
}

#repositoryTree .tree-cell:unstaged-changes {
	-fx-background:		unstaged-changes-background;
	-fx-accent:			unstaged-changes-highlight;
}

#repositoryTree .tree-cell:children-out-of-sync {
	
}